.skills-container {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.skill {
    display: block;
    width: 50%;
    margin: 10px;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-bar {
    height: 20px;
    background-color: #e0e0e0;
}

.skill-fill {
    height: 100%;
    border-radius: 0px;
    background-color: #222;
}

.prof {
    margin: 20px;
    width: 400px;
}

.prof h2{
    margin: 5px;
}

